.main-container {
  color: white;
  display: flex;
  flex-direction: column;
  margin: 5rem 2rem;
  align-items: center;
}
.btn-container {
  align-self: flex-start;
}
.btn {
  color: white;
  background: rgb(20, 20, 20);
  border: none;
  font-size: large;
  margin: 0.1rem;
  padding: 0.7rem;
}
.btn:hover {
  cursor: pointer;
}
.details-btn {
  background-color: #551a8b;
}

@media only screen and (max-width: 500px) {
  .main-container {
    margin: 6rem 0.2rem;
  }
  .btn-container {
    align-self: center;
  }
}
