.navcontainer {
  display: flex;
  position: fixed;
  min-height: 4rem;
  top: 0;
  left: 0;
  right: 0;
  color: purple;
  justify-content: space-between;
  flex-wrap: wrap;
  background: rgb(20, 20, 20);
  z-index: 1;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
.btn-search {
  /* background: rgba(112, 18, 158, 0.25); */
  background: black;
  color: white;
  height: 2rem;
  border-radius: 5px;
  padding: 0.25rem;
  margin: 0.2rem;
  border: 1px solid rgb(185, 165, 165);
}
.search-input {
  padding: 0.25rem;
  height: 2rem;
  border-radius: 5px;
}
.btn-search:hover {
  cursor: pointer;
  background: #551a8b;
}
